body {
    background-color: #fff;
}

main .container,
main .container .row,
main .container .row .side-bar {
    height: 100%;
}

main .container,
nav .container {
    max-width: 100%;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    background-color: #fff;
}

.nav-tabs .nav-item {
    margin-bottom: -2px;
}
.btn-twitter {
    color: #fff;
    background-color: #1DA1F2;
    border-color: #1DA1F2;
}
.btn-facebook {
    color: #fff;
    background-color: #1877f2;
    border-color: #1877f2;
}
.btn-google {
    color: #212529;
    background-color: #fff;
    border-color: #212529;
}
.btn-google:hover {
    border-color: #e5e5e5;
}
.btn-github {
    color: #fff;
    background-color: #171515;
    border-color: #171515;
}
.nav-tabs .nav-item {
    margin-bottom: -2px;
}
.side-bar {
    width: 230px;
}